<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="normalize.css">
     <link rel="stylesheet" href="application.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script type="text/javascript" src="application.js"></script>

  </head>
  <body>
      <div id="chat-log">

        <input type="text" id="message">
        <button id="disconnect">Disconnect</button>
        <input type="text" id="friend" placeholder='target'>


        <%unless $clients.empty?%>

          <% $clients.each_key do |client|%>
        	  <a class='client' href="#"><%=client%></a><br>
          <%end%>

        <%end%>
      </div>
      <div class='board'>
        <ul id="color_me">
          <li id='1' class='box'></li>
          <li id='3' class='box'></li>
          <li id='4' class='box'></li><br><br><br><br><br><br>
          <li id='5' class='box'></li>
          <li id='6'class='box'></li>
          <li id='7' class='box'></li><br><br><br><br><br><br>
          <li id='8' class='box'></li>
          <li id='9'  class='box'></li>
          <li id='10' class='box'></li>
        </ul>
      </div>


    <script>
			function addMessage(msg) {
			  $("#chat-log").append("<p>" + msg + "</p>");
			}
			var socket, host, id;
			host = "ws://<%=request.host%>:3001";

			function connect() {
			  try {
			    socket = new WebSocket(host);

			    addMessage("Socket State: " + socket.readyState);

			    socket.onopen = function() {
			      addMessage("Socket Status: " + socket.readyState + " (open)");
			    }

			    socket.onclose = function() {
			      addMessage("Socket Status: " + socket.readyState + " (closed)");
			    }

			    socket.onmessage = function(msg) {
			    	console.log(msg.data.split(":"))
			    	if (msg.data.split(":")[0] == "id"){
			    		id = msg.data.split(":")[1];
			    	}else if (msg.data.split(":")[0] == "message"){
			        addMessage( msg.data.split(":")[1]);
             }else if(msg.data.split(":")[0] == "move"){
                updateBoard(msg.data.split(":")[1])
             }
			    }

			  } catch(exception) {
			    addMessage("Error: " + exception);
			  }
			}

			$(function() {
			  connect();
			});
			function send(command, message) {
			  try {

			    socket.send(command+':'+message+':'+id);

			  } catch(exception) {
			    addMessage("Failed To Send")
			  }

			  $("#message").val('');
			}

			$('#message').keypress(function(event) {
			  if (event.keyCode == '13') {

          var message = $('#message').val()
          send('chat', message);
        }

			});
			$("#disconnect").click(function() {
  				socket.close()
				});

      $(".client").click(function(e){
          e.preventDefault()
          send("join", $(e.target).html())
      })

    </script>
  </body>
</html>
