.container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
    border: 1px dotted black;
    text-align: center;
}

.board {
  margin: 0 auto;
}

th {
    text-align: left;
}

#color_me li{
  display:block;
  width:100px;
  float:left;
  height:100px;
  border:solid black 2px;
  margin:2px;
}

h1 {
  text-align: center;
  font-size:100px;
  margin:0px;
}
